<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>

<!-- Person edition -->
<form id="edit-form" action="edit.html" th:action="@{/api/books/edit}" th:method="post">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" name="id" type="text" value="1"/>
    </div>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text" value="No title"/>
    </div>

    <div class="row">
        <label for="book-author-input">Author:</label>
        <input id="book-author-input" name="author" type="text" value="No author"/>
    </div>

    <div class="row">
        <label for="book-genre-input">Genre:</label>
        <input id="book-genre-input" name="genre" type="text" value="No genre"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="list.html" th:href="@{/}"><button type="button">Cancel</button></a>
    </div>
</form>

<script>
    $(function () {
        var id = [[${id}]];
        $.get('/api/books/' + id).done(function (book) {
            var idInput = document.getElementById("id-input");
            var idValue = '' + book.id;
            idInput.value = idValue;

            var titleInput = document.getElementById("book-title-input");
            var titleValue = '' + book.title;
            titleInput.value = titleValue;

            var authorInput = document.getElementById("book-author-input");
            var authorValue = '' + book.authorName;
            authorInput.value = authorValue;

            var genreInput = document.getElementById("book-genre-input");
            var genreValue = '' + book.genreName;
            genreInput.value = genreValue;
            }
        )
    });
</script>

</body>
</html>
